# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
**/venv/
.venv/

# Environment files
.env

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/

# PostgreSQL
postgres_data/

# Jenkins
jenkins/jenkins_home/